{% extends "layout.html" %}
{% block content %}

        <div class="container">
          <div class="row">
            <div class="col s12 m4 l3">
              <div class="row">
                <div class="card-panel white">
                  <a href="{{ url_for('compose') }}" class="waves-effect waves-teal btn-flat">Compose</a></a>
                </div>
                <div class="card-panel white">
                  <span><a href="login.html" class="waves-effect waves-teal btn-flat btn-medium">Spam Mails</a>
                  </span>
                </div>
              </div>
            </div>

            <div class="col s12 m8 l9">
              <blockquote>
                Inbox
              </blockquote>
              <script>
                  document.addEventListener('DOMContentLoaded', function() {
                  var elems = document.querySelectorAll('.collapsible');
                  var instances = M.Collapsible.init(elems, options);
                });
                   $(document).ready(function(){
                    $('.collapsible').collapsible();
                  });


              </script>
              {% for message in messages %}
                <p><h5>{{message}}</h5></p>
              {% endfor %}
          </div>
          </div>
        </div>

{% endblock content %}
